* {
  margin: 0px;
  padding: 0px;
}
.paste-svg {
  display: block;
  margin-bottom: 10px;
  margin-top: 20px;
}

.load-svg {
  display: block;
  margin-bottom: 20px;
  margin-top: 10px;
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  margin-bottom: 12px;
  background-color: white;
}

footer > p {
  padding: 10px;
  font-size: 18px;
  margin: 0 auto;
  max-width: 70%;
  text-align: center;
}

.container {
    padding: 30px;
}

.dimensao .height, .dimensao .width {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

body{
  margin-bottom: 210px;
}